bbody {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root,
html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.column {
  flex-basis: 50%;
}

input {
  width: 50%;
  display: block;
}

label {
  display: block;
}

.mainView {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentView {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
}

.column {
  flex-basis: 50%;
}

.title {
  flex-basis: 100%;
  text-align: center;
}

* {
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  border: 1px solid #d5d5d5;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}

input[aria-invalid="true"] {
  border-color: red;
}

button {
  background-color: #fff;
  border: 1px solid #d5d5d5;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
}

button:disabled {
  cursor: not-allowed;
}

.addFormItem {
  margin: 10px 0 0;
}
